extends layout 

block content
    form(action="../actualizar", method="post")
        input(type="hidden", name="id" value=registro.id)
        .form-group
            label(for="nombre") Nombre
            input(id="name", type="text", name="nombre", value=registro.nombre).form-control
        
        .form-group
            label(for="cantidad") Cantidad
            input(id="stock", type="text", name="cantidad", value=registro.cantidad).form-control

        .form-group
            label(for="precio") Precio
            input(id="price", type="text", name="precio", value=registro.precio).form-control
        
        button(type="submit").btn.btn-primary Guardar
        
